header, footer{
    background-color: #1f2937;
}


header, .one, .two, .three{
    height: 500px
}

header h1{
    font-size: 48px;
    font-weight: 700px;
    color: #F9Faf8 ;
}

header h2{
    font-size: 24px;
    color: #F9FaF8
}

header span, header link{
    font-size: 18px;
    color: #E5E7EB
}

.one>div>h2{
    font-size: 36px;
    font-weight:  700px;
    color:#1f2937;
    text-align: center;
   

}
body *{
    font-family: 'Roboto', sans-serif;
}


.zero .div2{
    display:flex
}
.zero img{
    margin:0 auto;
    width:100%
   
}

button{
    background-color: #3882f6;
}



.two{
    background-color:#E5E7EB
}


ul{
    list-style: none;
    display: flex;
    

}
li{

    padding-left: 10px
}


nav, .links{
    display:flex;
    justify-content: space-between;
}

a{
    color:white;
    justify-content: space-around;
}

.zero,.img-container{
    display:flex;
    justify-content: space-around;
}
   


.zero>div{
    
    width:45%;

}

.img1{
    width:70%
}

header{
    padding-left:10px;
}

.one{
    display: inline;
}

.info{
    width:100%;
    
    
}

.one img{
    border: 5px solid #3882f6;
    border-radius:20px

}

figcaption{
    font-size: 12px;
    text-align: center;
    width:70%
}

.tweak{
    padding-left: 30px;
}

.two p{
    font-size:36px;
    font-style: italic;
    color: #1F2937;
}

.two, .three{
    display:flex;
    justify-content:center;
    align-items: center;
}

.two div, .three>div{
    
    height:50%;
    width:70%;
   
}

.action, .first{
    height:100%;
    width:50%;
    
}

.three{
    color:white;
    font-size: 18px;
}

.three button{
    border:2px solid white;
    color:white;
    
}

.three>div{
    background-color: #3882f6;
    display:flex;
}

.action{
    display:flex;
    justify-content:center;
    align-items: center;
}

.first{
    text-align:center;
    margin-top:50px
}

footer{
    color:white
}


@media screen and (max-width:481px){

   body, header,  section{
        width:100vh;
        height: 700px;
    
        
    }

    footer{
        height:auto
    }

    header *{
        width:100%

    }

    .two p{
        font-size: 1.5em;
        align-items: center;
    }


 .img-container{
display:grid;
grid-template-columns: 1fr 1fr ;


 }

 .img-container>div{
    width:100%;
    
 }

.img-container span{
    font-size:1.5em
 }


.div2 img{
    display:none;
   
}
 .div2{
    width: 0em !important;

}
.tweak{
    padding:0
}

.zero .div1{
    width:100vw;
    text-align: left;
}

.zero h1{

    font-size:4.5em;
    
}

.zero span{
    font-size:1.2em;
}

}




